:root{
	--one: hsla(210, 67%, 20%, 0.9);
	--two: hsla(211, 59%, 22%, 0.9);
	--three: hsla(212, 54%, 24%, 0.9);
	--four:  hsla(212, 50%, 26%, 0.9);
	--five: hsla(213, 47%, 28%, 0.9);
	--six: hsla(214, 44%, 28%, 0.9);
	--seven: hsla(213, 43%, 28%, 0.9);
	--eight: hsla(214, 40%, 28%, 0.9);
	--nine: hsla(214, 38%, 26%, 0.9);
	--ten: hsla(215, 35%, 25%, 0.9);
	--eleven: hsla(216, 32%, 23%, 0.9);
	--dozeKK: hsla(217, 28%, 21%, 0.9);
	--test: hsla(218, 25%, 15%, 0.9);

	--bg: #EBEBEB;
	--black: #303030;
    --prog: #A4B7BE;

	--light: #fffca4;

	font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body {
	background-color: whitesmoke;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
    background-attachment: fixed;
	background-image: url(/src/images/coffe.gif);
}

.player{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
	height: 100vh;
	flex-direction: row-reverse;
	word-wrap: break-word;
}

.header{
	position: relative;
	max-width: 600px;
	padding: 50px;
	background: linear-gradient(to right, var(--one), var(--two), var(--three), var(--four), var(--five), var(--six), var(--seven), var(--eight), var(--nine), var(--ten), var(--eleven), var(--dozeKK));
	box-shadow: 0 5px 15px rgba(0, 0, 0, .9);
	border-radius: 15px;
}

.disk{
    border-radius: 50%;
	height: 200px;
	border: 4px solid var(--one);
	box-shadow: 16px 16px 57px var(--seven), -16px -16px 57px var(--dozeKK);
	animation: rolling-disk 10.5s 0.25s linear infinite;	
	width: 200px;
}

.disk img{
	height: 200px;
}

.info {
    margin: 1.5rem 0;
    text-align: center;
}
.info h1 {
    color: var(--black);
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.info p {
    font-size: 1.15rem;
    color: var(--prog);
}


.buttons {
    margin: 2rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: var(--light);
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px var(--dozeKK), 0px 0px 9px var(--test);
	transition: 0.3s;
}

i:active{
	box-shadow: 0px 2px var(--dozeKK), 0px 0px 3px var(--test);
	border-bottom: 1px solid var(--test);
	transform: translateY(3px);
}

.button:active{
    box-shadow: 0px 2px var(--dozeKK), 0px 0px 3px var(--test);
	border-bottom: 1px solid var(--test);
	transform: translateY(3px);
}

.button-sm {
    width: 2rem;
    height: 2rem;
    opacity: 0.75;
}

.button-md {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.85;
}
.button-lg {
    width: 3.25rem;
    height: 3.25rem;
}

.button:hover{
	color: #303030;
}

@media only screen and (max-width: 600px) {
	.header{
		max-width: 260px;
		max-height: auto;
	}
}

@keyframes rolling-disk {
    0%      {transform: rotate(0);}
    100%    {transform: rotate(1turn);}
}

@keyframes change {
	0% {
		background-image: url(/src/images/beck.gif);
	}   
	5% {
		background-image: url(/src/images/build.gif);
	}
	10% {
		background-image: url(/src/images/car.gif);
	}
	15% {
		background-image: url(/src/images/coffe.gif);
	}
	20% {
		background-image: url(/src/images/florest.gif);
	}
	25% {
		background-image: url(/src/images/game.gif);
	}
    30% {
		background-image: url(/src/images/giphy.gif);
	}
    35% {
		background-image: url(/src/images/giphy.gif);
	}
    40% {
		background-image: url(/src/images/jake-lofi.gif);
	}
    45% {
		background-image: url(/src/images/japan.gif);
	}
    50% {
		background-image: url(/src/images/japan.gif);
	}
    55% {
		background-image: url(/src/images/me_and_my_girl.gif);
	}
    60% {
		background-image: url(/src/images/music.gif);
	}
    65% {
		background-image: url(/src/images/music.gif);
	}
    70% {
		background-image: url(/src/images/original.gif);
	}
    75% {
		background-image: url(/src/images/rain.gif);
	}
    80% {
		background-image: url(/src/images/rain2.gif);
	}
    0% {
		background-image: url(/src/images/read.gif);
	}
    90% {
		background-image: url(/src/images/train.webp);
	}
    95% {
		background-image: url(/src/images/walk.gif);
	}
    100% {
		background-image: url(/src/images/wow.gif);
	}
}